h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
div#control-pane,
div#library-pane {
  margin-bottom: 5px;
}
div#control-pane > ul > li > span,
div#library-pane > ul > li > span {
  margin: 0 5px;
}
div#typing-pane {
  z-index: 1000;
  visibility: hidden;
  display: none;
}
/* The #typing-pane-color-layer is working around a Vue update issue
 * where I cannot set the background-color programmatically nor merge it
 * with CSS settings on the SAME div. So I have the visibility controlled
 * by the surrounding #typing-pane which is manipulated by Vue bindings,
 * and do all static styling here.
 */
div#typing-pane-color-layer {
  background-color: rgba(197, 226, 213, 1);
  border-radius: 10px;
  font-size: 150%;
  align-content: center;
}
div#typed-text-pane,
div#yet-to-be-typed-text-pane {
  width: 60%;
  font-size: 80%;
  margin: 0 auto;
  background-color: rgba(197, 226, 213, 0.5);
}
div#typing-pane p#typed-text,
div#typing-pane p#yet-to-be-typed-text {
  text-align: justify;
}
div#typing-pane #ref-line span {
  font-size: 150%;
}
div#typing-pane input {
  font-size: 150%;
  margin-bottom: 10px;
}
/* Corrections pane layout and styling
 */
div#corrections-pane {
  font-size: 100%;
  background-color: #FCFBD9;
  width: 75%;
  margin: 0 auto;
  border-radius: 10px;
}
div#corrections-pane td {
  text-align: justify;
  padding: 0px 10px 0px 10px;
}
div#text-name-popup-pane {
  z-index: 1500;
  width: 20%;
  height: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5%;
  margin-left: -10%;
  background-color: beige;
  border-radius: 10px;
  padding: 10px;
}
div#text-name-popup-pane span,
div#text-name-popup-pane input,
div#text-name-popup-pane button {
  vertical-align: middle;
  margin: 5px 5px;
}